<nav class="site-nav">
  <a href="{{@site.url}}" class="nav-brand">
    <span class="nav-brand-name">VOICE<span class="brand-dot">.</span></span>
    <span class="nav-brand-tagline">Politics reimagined.</span>
  </a>
  <ul class="nav-links">
    {{#foreach navigation}}
      {{#if @last}}
        <li><a href="{{url}}" class="nav-cta">{{label}}</a></li>
      {{else}}
        <li><a href="{{url}}">{{label}}</a></li>
      {{/if}}
    {{/foreach}}
  </ul>
</nav>
