<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{meta_title}}</title>
  {{ghost_head}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800&family=Cormorant:ital,wght@1,400;1,500;1,600&family=Alex+Brush&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">
</head>
<body class="{{body_class}}">

  {{#is "home"}}{{else}}
    {{> navigation}}
  {{/is}}

  {{{block "content"}}}

  {{> footer}}

  {{ghost_foot}}
</body>
</html>
